<!DOCTYPE html>
<html lang="en">
<!-- lang="en" กำหนดภาษาหลักเว็บ -->
<head>
  <meta charset="UTF-8">
  <!-- meta = กำหนดรายละเอียดเล็กๆน้อยๆ
  ใช้ utf-8 เพื่ออ่านฟ้อนไทย -->
  <title>CMM19</title>
  <!-- link rel href โหลดcssมาใช้กับเว็บเรา ด้านfontend (Bulmaเป็นเว็บช่วยดีไซโค้ดมันจะเป็นcss)-->
  <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <link rel="stylesheet" href= "/assets/home.css">
</head>
<body>
  <header>
    <div class ="has-text-centered">
      <img Src="/assets/images/logo.png" alt="" width="145" height="auto">
    </div>
    <nav class="navbar-tabs">
      <a hraf="#" class ="navbar-item">HOME</a>
      <a hraf="#" class ="navbar-item">Reviews</a>
      <a hraf="#" class ="navbar-item">News</a>
      <a hraf="#" class ="navbar-item">Log in</a>
      <a hraf="#" class ="navbar-item">About</a>
      <a hraf="#" class ="navbar-item">Tonpalm</a>
      <a hraf="#" class ="navbar-item">Love</a>
      <a hraf="#" class ="navbar-item">TP</a>
    </nav>
    
    </header>
<!-- <h1 class="has-text-centered"> สวัสดีจ้า </h1> -->
    <main>
      <section class ="banner" ><!-- มี12คอลัมตามทั่วๆไปของbulma-->
        <div class ="highlight">
          <div class ="columns">
            <div class ="column highlight-item">
              <h1 class="is size 50">Hello</h1>
            </div>
          </div>
        <div class ="thumbnail">
          <div class ="columns is-marginless">
            <div class ="column thumbnail-item is-paddingless">  
              <img src="/assets/images/home/banner/thumbnail-1.jpg" alt="" width="100%" height="auto">
            </div>

            <div class ="column  thumbnail-item is-paddingless">
              <img src="/assets/images/home/banner/thumbnail-2.jpg"  alt="" width="100%" height="auto">
            </div>

            <div class ="column thumbnail-item is-paddingless">
              <img src="/assets/images/home/banner/thumbnail-3.jpg" alt="" width="100%" height="auto">
            </div>

            <div class ="column thumbnail-item is-paddingless">
              <img src="/assets/images/home/banner/thumbnail-4.jpg" alt="" width="100%" height="auto">
            </div>
              
            <div class ="column thumbnail-item is-paddingless">
              <img src="/assets/images/home/banner/thumbnail-5.jpg" alt="" width="100%" height="auto">
            </div>
          </div>
        </div>
      </section>
    </main>
</body>
</html>

<!-- cmd -->
<!-- cd = change directory เปลี่ยนปลายทาง command promt -->
<!-- d: = เปลี่ยนเป็นไดร์ฟdก่อน -->
<!-- dir = click Folder -->
<!-- การจำลองเซิฟเวอร์ในcmd C:\Users\tonpalm\Desktop\Lab\lab-1>python -m http.server 8000 เป็นpythonเวอร์ชั่น3.-->
<section class="section we-present">
     <div class="container">
      <div class="columns">
        <div class="column has-text-left">
          <a href="#">LASTET</a>
        </div>
        <div class="column has-text-centered">
          WE PRESENT
        </div>
        <div class="column has-text-right">
          <a href="#">SEARCH</a>
        </div>
      </div>
      <div class="columns is-multiline">
        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img 
                src="assets/images/home/we-preset/img-1.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public Space
            </h5>
              <h3 class="titel is-spaced is-4">
              HAWAHAWAII
            </h3>
              <h4 class="subtitle is-6">
              NOONNATTA
              /h4>
              <p>
                Earam dolaoremque eligendi.
              </p>
            </div>
          </div>
        </a>

        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img 
                src="assets/images/home/we-preset/img-1.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public Space
            </h5>
              <h3 class="titel is-spaced is-4">
              HAWAHAWAII
            </h3>
              <h4 class="subtitle is-6">
              NOONNATTA
              /h4>
              <p>
                Earam dolaoremque eligendi.
              </p>
            </div>
          </div>
        </a>


        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img 
                src="assets/images/home/we-preset/img-1.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public Space
            </h5>
              <h3 class="titel is-spaced is-4">
              HAWAHAWAII
            </h3>
              <h4 class="subtitle is-6">
              NOONNATTA
              /h4>
              <p>
                Earam dolaoremque eligendi.
              </p>
            </div>
          </div>
        </a>

        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img 
                src="assets/images/home/we-preset/img-1.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public Space
            </h5>
              <h3 class="titel is-spaced is-4">
              HAWAHAWAII
            </h3>
              <h4 class="subtitle is-6">
              NOONNATTA
              /h4>
              <p>
                Earam dolaoremque eligendi.
              </p>
            </div>
          </div>
        </a>

        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img 
                src="assets/images/home/we-preset/img-1.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public Space
            </h5>
              <h3 class="titel is-spaced is-4">
              HAWAHAWAII
            </h3>
              <h4 class="subtitle is-6">
              NOONNATTA
              /h4>
              <p>
                Earam dolaoremque eligendi.
              </p>
            </div>
          </div>
        </a>

        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img 
                src="assets/images/home/we-preset/img-1.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public Space
            </h5>
              <h3 class="titel is-spaced is-4">
              HAWAHAWAII
            </h3>
              <h4 class="subtitle is-6">
              NOONNATTA
              /h4>
              <p>
                Earam dolaoremque eligendi.
              </p>
            </div>
          </div>
        </a>
        
      </div>


     </div>
   </section>
  </main>
  </body>
  </html>